Bonjour {{name}},

Nous avons reçu une demande de réinitialisation de votre mot de passe.

Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe. Ce lien expirera dans {{expiry}}.

Réinitialiser votre mot de passe : {{resetLink}}

Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet email en toute sécurité. Votre mot de passe restera inchangé.

Cordialement,
L'équipe {{company}}

© {{year}} {{company}}

Afficher cet e-mail dans votre navigateur : {{ posta_web_view_url }}
