Bonjour {{name}},

Utilisez le code ci-dessous pour vous connecter à votre compte {{company}} :

{{code}}

Vous préférez un seul clic ? Connectez-vous ici : {{loginLink}}

Ce code expire dans {{expiry}} et ne peut être utilisé qu'une seule fois. Pour votre sécurité, ne le partagez avec personne.

Si vous n'avez pas tenté de vous connecter, vous pouvez ignorer cet email en toute sécurité.

Cordialement,
L'équipe {{company}}

© {{year}} {{company}}

Afficher cet e-mail dans votre navigateur : {{ posta_web_view_url }}
