Bonjour {{name}},

{{inviterName}} vous a invité à rejoindre l'espace de travail {{workspaceName}} sur {{company}} en tant que {{role}}.

Accepter l'invitation : {{acceptLink}}

Cette invitation expire dans {{expiry}}.

Si vous n'attendiez pas cette invitation, vous pouvez ignorer cet email en toute sécurité.

Cordialement,
L'équipe {{company}}

© {{year}} {{company}}

Afficher cet e-mail dans votre navigateur : {{ posta_web_view_url }}
