Hallo {{name}},

Verwenden Sie den folgenden Code, um sich bei Ihrem {{company}}-Konto anzumelden:

{{code}}

Lieber mit einem Klick? Hier anmelden: {{loginLink}}

Dieser Code läuft in {{expiry}} ab und kann einmal verwendet werden. Geben Sie ihn aus Sicherheitsgründen niemals weiter.

Wenn Sie nicht versucht haben, sich anzumelden, können Sie diese E-Mail ignorieren.

Mit freundlichen Grüßen,
Das {{company}}-Team

© {{year}} {{company}}

Diese E-Mail im Browser anzeigen: {{ posta_web_view_url }}
