Hello {{name}},

We received a request to reset your password.

Click the link below to choose a new password. This link will expire in {{expiry}}.

Reset your password: {{resetLink}}

If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.

Best regards,
The {{company}} Team

© {{year}} {{company}}

View this email in your browser: {{ posta_web_view_url }}
