Hello {{name}},

Use the code below to sign in to your {{company}} account:

{{code}}

Prefer one click? Sign in here: {{loginLink}}

This code expires in {{expiry}} and can be used once. For your security, never share it with anyone.

If you didn't try to sign in, you can safely ignore this email.

Best regards,
The {{company}} Team

© {{year}} {{company}}

View this email in your browser: {{ posta_web_view_url }}
