Hello {{name}},

{{inviterName}} has invited you to join the {{workspaceName}} workspace on {{company}} as a {{role}}.

Accept the invitation: {{acceptLink}}

This invitation expires in {{expiry}}.

If you weren't expecting this invitation, you can safely ignore this email.

Best regards,
The {{company}} Team

© {{year}} {{company}}

View this email in your browser: {{ posta_web_view_url }}
